<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <main>
      <section>
        <h1>Chat <span>Who is who chat..</span></h1>
        <ul></ul>
        <form>
          <input type="text" autocomplete="off" />
          <button><span>Send</span></button>
        </form>
      </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
